@font-face {
  font-family: "ss_font";
  src: url(/assets/ss_font_fef8482e2d5b5efb3302f551055356bd-1c4fc973abfb71d1739df613a4ed1d8ab110ff0a91ed62bd0ad401a5a0d99354.eot);
  src: url(/assets/ss_font_fef8482e2d5b5efb3302f551055356bd-1c4fc973abfb71d1739df613a4ed1d8ab110ff0a91ed62bd0ad401a5a0d99354.eot?#iefix) format("embedded-opentype"), url(/assets/ss_font_fef8482e2d5b5efb3302f551055356bd-2b34378043a2c96a14bf062e90049c727b15d42b2a663c68b46015124e7280af.woff) format("woff"), url(/assets/ss_font_fef8482e2d5b5efb3302f551055356bd-94eec2598dda5803bb2a8a1a03de5f78618a2f376051e571e7dd6ea6d22c18cc.ttf) format("truetype"), url(/assets/ss_font_fef8482e2d5b5efb3302f551055356bd-64e6f18cfca40e65bfd99a874e2da91012bfff0971762d753ae215a7c70a5425.svg#ss_font) format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "ss_font";
    src: url(/assets/ss_font_fef8482e2d5b5efb3302f551055356bd-64e6f18cfca40e65bfd99a874e2da91012bfff0971762d753ae215a7c70a5425.svg#ss_font) format("svg");
  }
}
/* line 24, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.btn [class^="ficon-"],
.btn [class*=" ficon-"], .nav [class^="ficon-"],
.nav [class*=" ficon-"] {
  display: inline;
}

/* line 34, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.nav-tabs [class^="ficon-"],
.nav-tabs [class*=" ficon-"], .nav-pills [class^="ficon-"],
.nav-pills [class*=" ficon-"] {
  /* keeps button heights with and without icons the same */
}
/* line 37, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.nav-tabs [class^="ficon-"], .nav-tabs [class^="ficon-"].icon-large,
.nav-tabs [class*=" ficon-"],
.nav-tabs [class*=" ficon-"].icon-large, .nav-pills [class^="ficon-"], .nav-pills [class^="ficon-"].icon-large,
.nav-pills [class*=" ficon-"],
.nav-pills [class*=" ficon-"].icon-large {
  line-height: .9em;
}

/* line 42, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
li [class^="ficon-"],
li [class*=" ficon-"], .nav li [class^="ficon-"],
.nav li [class*=" ficon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
/* line 47, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
li [class^="ficon-"].icon-large,
li [class*=" ficon-"].icon-large, .nav li [class^="ficon-"].icon-large,
.nav li [class*=" ficon-"].icon-large {
  /* increased font size for icon-large */
  width: 1.5625em;
}

/* line 55, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ipr8[data-icon]:before {
  padding-right: 8px;
}

/* line 58, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ipr5[data-icon]:before {
  padding-right: 5px;
}

/* line 61, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ipl5[data-icon]:before {
  padding-left: 5px;
}

/* line 89, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.icon-2x {
  font-size: 2em;
}
/* line 91, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.icon-2x.icon-border {
  border-width: 2px;
}

/* line 96, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.icon-3x {
  font-size: 3em;
}
/* line 98, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.icon-3x.icon-border {
  border-width: 3px;
}

/* line 103, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.icon-4x {
  font-size: 4em;
}
/* line 105, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.icon-4x.icon-border {
  border-width: 4px;
}

/* line 114, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
[data-icon]:before {
  content: attr(data-icon);
}

/* line 116, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
[data-icon]:before,
.ficon-SSL:before,
.ficon-abn-licence2:before,
.ficon-accountants:before,
.ficon-air-conditioner-installation:before,
.ficon-alert-circle:before,
.ficon-alert-star:before,
.ficon-analytics:before,
.ficon-architects:before,
.ficon-arrow-down:before,
.ficon-arrow-down-shaft:before,
.ficon-arrow-left:before,
.icon-arrow-left:before,
.ficon-arrow-left-shaft:before,
.ficon-arrow-right:before,
.icon-arrow-right:before,
.ficon-arrow-right-shaft:before,
.ficon-arrow-up:before,
.ficon-arrow-up-shaft:before,
.ficon-asbestos-removal:before,
.ficon-asterisk:before,
.ficon-attach:before,
.ficon-attach2:before,
.ficon-attention:before,
.ficon-builders:before,
.ficon-burger:before,
.ficon-business:before,
.ficon-business-stroke:before,
.ficon-calendar:before,
.ficon-calendar-2:before,
.ficon-camera:before,
.ficon-carpenters:before,
.ficon-carpet-cleaning:before,
.ficon-case:before,
.ficon-case-check:before,
.ficon-case-check2:before,
.ficon-certification:before,
.ficon-certification-1:before,
.ficon-certification-1-stroke:before,
.ficon-certification-2:before,
.ficon-certification-2-stroke:before,
.ficon-certification-3:before,
.ficon-certification-3-stroke:before,
.ficon-certification-user-1:before,
.ficon-certification-user-1-stroke:before,
.ficon-certification-user-2:before,
.ficon-certification-user-2-stroke:before,
.ficon-check-circle:before,
.ficon-circle-o:before,
.ficon-circle-x:before,
.ficon-cleaners:before,
.ficon-clock:before,
.ficon-close-check:before,
.ficon-close-circle:before,
.ficon-comment:before,
.ficon-computer:before,
.ficon-concreters:before,
.ficon-contact-customer:before,
.ficon-copy-link:before,
.ficon-coverage:before,
.ficon-coverage1:before,
.ficon-credit:before,
.ficon-credit-card:before,
.ficon-delete:before,
.glyphicon-remove:before,
.ficon-delete2:before,
.ficon-directory:before,
.ficon-dislike-2:before,
.ficon-dollar:before,
.ficon-download:before,
.ficon-edit:before,
.ficon-edit-2:before,
.ficon-electricians:before,
.ficon-email_icon:before,
.ficon-end-of-lease-cleaners:before,
.ficon-facebook:before,
.ficon-fb-box:before,
.ficon-feedback:before,
.ficon-fencing:before,
.ficon-file:before,
.ficon-files:before,
.ficon-filter:before,
.ficon-flag:before,
.ficon-gardeners:before,
.ficon-get-quotes:before,
.ficon-gplus-box:before,
.ficon-hand-shake:before,
.ficon-handymen:before,
.ficon-hard-hat:before,
.ficon-help-circle:before,
.ficon-home:before,
.ficon-home-improvement:before,
.ficon-how-it-works-step1-1:before,
.ficon-how-it-works-step1-2:before,
.ficon-how-it-works-step1-3:before,
.ficon-how-it-works-step2-1:before,
.ficon-how-it-works-step2-2:before,
.ficon-how-it-works-step3:before,
.ficon-how-it-works-step4-1:before,
.ficon-how-it-works-step4-2:before,
.ficon-inbox:before,
.ficon-industry:before,
.ficon-industry2:before,
.ficon-industry3:before,
.ficon-invoices:before,
.ficon-iphone:before,
.ficon-jobs-listed:before,
.ficon-jobs-listed-stroke:before,
.ficon-label-new:before,
.ficon-landscaping-and-gardening:before,
.ficon-lawn-mowing-services:before,
.ficon-licence:before,
.ficon-like:before,
.ficon-like-2:before,
.ficon-like-filled:before,
.ficon-like-stroke:before,
.ficon-linkedin-box:before,
.ficon-local:before,
.ficon-location:before,
.ficon-lock:before,
.ficon-login:before,
.ficon-loss-covered:before,
.ficon-loudspeaker:before,
.ficon-menu:before,
.ficon-message:before,
.ficon-mick:before,
.ficon-mick2:before,
.ficon-minus:before,
.ficon-money-circle:before,
.ficon-money-comment:before,
.ficon-mood-bad:before,
.ficon-more:before,
.ficon-more-outline:before,
.ficon-more-vert:before,
.ficon-never-pay:before,
.ficon-no-expire:before,
.ficon-no-lockin:before,
.ficon-no-views:before,
.ficon-note:before,
.ficon-opening-hours_icon:before,
.ficon-painters:before,
.ficon-partial-pay:before,
.ficon-people:before,
.ficon-phone:before,
.ficon-phone_icon:before,
.ficon-pin:before,
.ficon-plasterers:before,
.ficon-play:before,
.ficon-plumbers:before,
.ficon-plus:before,
.ficon-price-tag:before,
.ficon-pricing:before,
.ficon-quote-speed:before,
.ficon-quotes:before,
.ficon-quotes-stroke:before,
.ficon-quotes2:before,
.ficon-quotes2-stroke:before,
.ficon-removalists:before,
.ficon-reply:before,
.ficon-reply-all:before,
.ficon-ribbon:before,
.ficon-ribbon-check:before,
.ficon-ringing:before,
.ficon-risq-bell:before,
.ficon-risq-man:before,
.ficon-risq-monitor:before,
.ficon-risq-shield:before,
.ficon-risq-star:before,
.ficon-roofers:before,
.ficon-safe:before,
.ficon-safe-circle:before,
.ficon-search:before,
.ficon-search-2:before,
.ficon-search-3:before,
.ficon-search-file:before,
.ficon-send:before,
.ficon-settings:before,
.ficon-shield-check:before,
.ficon-shield-check-2:before,
.ficon-shield-money:before,
.ficon-shield-money-circle:before,
.ficon-shield-round:before,
.ficon-sms:before,
.ficon-soc_fb_icon:before,
.ficon-soc_g--icon:before,
.ficon-soc_in_icon:before,
.ficon-soc_tw_icon:before,
.ficon-soc_youtube_icon:before,
.ficon-sort:before,
.ficon-star:before,
.ficon-star-empty:before,
.ficon-star-full:before,
.ficon-star-half:before,
.ficon-star-half-full:before,
.ficon-stop:before,
.ficon-stop-1:before,
.ficon-support:before,
.ficon-tick:before,
.glyphicon-ok:before,
.ficon-tick-1:before,
.ficon-tick-2:before,
.ficon-tick-o:before,
.ficon-tick-x:before,
.ficon-tilers:before,
.ficon-time-chart:before,
.ficon-transfb:before,
.ficon-transgoogle:before,
.ficon-translinkedin:before,
.ficon-transtwitter:before,
.ficon-transyoutube:before,
.ficon-trash:before,
.ficon-trash-empty:before,
.ficon-trend-down:before,
.ficon-trend-up:before,
.ficon-trophy:before,
.ficon-twitter:before,
.ficon-twitter-box:before,
.ficon-umbrella:before,
.ficon-umbrella-stroke:before,
.ficon-unlike:before,
.ficon-unlock:before,
.ficon-unlock-circle:before,
.ficon-user:before,
.ficon-user-bubble:before,
.ficon-user-male:before,
.ficon-users:before,
.ficon-views_icon:before,
.ficon-wasting:before,
.ficon-website:before,
.ficon-website-2:before,
.ficon-wedding-photography:before,
.ficon-winner-medal:before,
.ficon-winner-trophy:before,
.ficon-youtube-box:before {
  display: inline-block;
  font-family: "ss_font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 360, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-SSL:before {
  content: "\f100";
}

/* line 361, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-abn-licence2:before {
  content: "\f101";
}

/* line 362, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-accountants:before {
  content: "\f102";
}

/* line 363, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-air-conditioner-installation:before {
  content: "\f103";
}

/* line 364, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-alert-circle:before {
  content: "\f104";
}

/* line 365, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-alert-star:before {
  content: "\f105";
}

/* line 366, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-analytics:before {
  content: "\f106";
}

/* line 367, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-architects:before {
  content: "\f107";
}

/* line 368, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-arrow-down:before {
  content: "\f108";
}

/* line 369, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-arrow-down-shaft:before {
  content: "\f109";
}

/* line 370, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-arrow-left:before, .icon-arrow-left:before {
  content: "\f10a";
}

/* line 371, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-arrow-left-shaft:before {
  content: "\f10b";
}

/* line 372, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-arrow-right:before, .icon-arrow-right:before {
  content: "\f10c";
}

/* line 373, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-arrow-right-shaft:before {
  content: "\f10d";
}

/* line 374, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-arrow-up:before {
  content: "\f10e";
}

/* line 375, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-arrow-up-shaft:before {
  content: "\f10f";
}

/* line 376, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-asbestos-removal:before {
  content: "\f110";
}

/* line 377, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-asterisk:before {
  content: "\f111";
}

/* line 378, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-attach:before {
  content: "\f112";
}

/* line 379, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-attach2:before {
  content: "\f113";
}

/* line 380, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-attention:before {
  content: "\f114";
}

/* line 381, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-builders:before {
  content: "\f115";
}

/* line 382, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-burger:before {
  content: "\f116";
}

/* line 383, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-business:before {
  content: "\f117";
}

/* line 384, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-business-stroke:before {
  content: "\f118";
}

/* line 385, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-calendar:before {
  content: "\f119";
}

/* line 386, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-calendar-2:before {
  content: "\f11a";
}

/* line 387, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-camera:before {
  content: "\f11b";
}

/* line 388, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-carpenters:before {
  content: "\f11c";
}

/* line 389, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-carpet-cleaning:before {
  content: "\f11d";
}

/* line 390, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-case:before {
  content: "\f11e";
}

/* line 391, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-case-check:before {
  content: "\f11f";
}

/* line 392, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-case-check2:before {
  content: "\f120";
}

/* line 393, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-certification:before {
  content: "\f121";
}

/* line 394, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-certification-1:before {
  content: "\f122";
}

/* line 395, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-certification-1-stroke:before {
  content: "\f123";
}

/* line 396, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-certification-2:before {
  content: "\f124";
}

/* line 397, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-certification-2-stroke:before {
  content: "\f125";
}

/* line 398, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-certification-3:before {
  content: "\f126";
}

/* line 399, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-certification-3-stroke:before {
  content: "\f127";
}

/* line 400, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-certification-user-1:before {
  content: "\f128";
}

/* line 401, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-certification-user-1-stroke:before {
  content: "\f129";
}

/* line 402, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-certification-user-2:before {
  content: "\f12a";
}

/* line 403, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-certification-user-2-stroke:before {
  content: "\f12b";
}

/* line 404, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-check-circle:before {
  content: "\f12c";
}

/* line 405, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-circle-o:before {
  content: "\f12d";
}

/* line 406, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-circle-x:before {
  content: "\f12e";
}

/* line 407, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-cleaners:before {
  content: "\f12f";
}

/* line 408, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-clock:before {
  content: "\f130";
}

/* line 409, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-close-check:before {
  content: "\f131";
}

/* line 410, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-close-circle:before {
  content: "\f132";
}

/* line 411, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-comment:before {
  content: "\f133";
}

/* line 412, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-computer:before {
  content: "\f134";
}

/* line 413, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-concreters:before {
  content: "\f135";
}

/* line 414, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-contact-customer:before {
  content: "\f1e2";
}

/* line 415, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-copy-link:before {
  content: "\f136";
}

/* line 416, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-coverage:before {
  content: "\f137";
}

/* line 417, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-coverage1:before {
  content: "\f138";
}

/* line 418, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-credit:before {
  content: "\f139";
}

/* line 419, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-credit-card:before {
  content: "\f13a";
}

/* line 420, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-delete:before, .glyphicon-remove:before {
  content: "\f13b";
}

/* line 421, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-delete2:before {
  content: "\f13c";
}

/* line 422, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-directory:before {
  content: "\f13d";
}

/* line 423, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-dislike-2:before {
  content: "\f13e";
}

/* line 424, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-dollar:before {
  content: "\f13f";
}

/* line 425, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-download:before {
  content: "\f140";
}

/* line 426, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-edit:before {
  content: "\f141";
}

/* line 427, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-edit-2:before {
  content: "\f142";
}

/* line 428, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-electricians:before {
  content: "\f143";
}

/* line 429, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-email_icon:before {
  content: "\f144";
}

/* line 430, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-end-of-lease-cleaners:before {
  content: "\f145";
}

/* line 431, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-facebook:before {
  content: "\f146";
}

/* line 432, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-fb-box:before {
  content: "\f147";
}

/* line 433, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-feedback:before {
  content: "\f148";
}

/* line 434, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-fencing:before {
  content: "\f149";
}

/* line 435, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-file:before {
  content: "\f14a";
}

/* line 436, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-files:before {
  content: "\f14b";
}

/* line 437, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-filter:before {
  content: "\f14c";
}

/* line 438, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-flag:before {
  content: "\f14d";
}

/* line 439, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-gardeners:before {
  content: "\f14e";
}

/* line 440, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-get-quotes:before {
  content: "\f14f";
}

/* line 441, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-gplus-box:before {
  content: "\f150";
}

/* line 442, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-hand-shake:before {
  content: "\f151";
}

/* line 443, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-handymen:before {
  content: "\f152";
}

/* line 444, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-hard-hat:before {
  content: "\f1df";
}

/* line 445, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-help-circle:before {
  content: "\f153";
}

/* line 446, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-home:before {
  content: "\f154";
}

/* line 447, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-home-improvement:before {
  content: "\f155";
}

/* line 448, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-how-it-works-step1-1:before {
  content: "\f156";
}

/* line 449, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-how-it-works-step1-2:before {
  content: "\f157";
}

/* line 450, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-how-it-works-step1-3:before {
  content: "\f158";
}

/* line 451, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-how-it-works-step2-1:before {
  content: "\f159";
}

/* line 452, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-how-it-works-step2-2:before {
  content: "\f15a";
}

/* line 453, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-how-it-works-step3:before {
  content: "\f15b";
}

/* line 454, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-how-it-works-step4-1:before {
  content: "\f15c";
}

/* line 455, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-how-it-works-step4-2:before {
  content: "\f15d";
}

/* line 456, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-inbox:before {
  content: "\f15e";
}

/* line 457, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-industry:before {
  content: "\f15f";
}

/* line 458, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-industry2:before {
  content: "\f160";
}

/* line 459, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-industry3:before {
  content: "\f161";
}

/* line 460, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-invoices:before {
  content: "\f162";
}

/* line 461, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-iphone:before {
  content: "\f163";
}

/* line 462, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-jobs-listed:before {
  content: "\f164";
}

/* line 463, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-jobs-listed-stroke:before {
  content: "\f165";
}

/* line 464, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-label-new:before {
  content: "\f166";
}

/* line 465, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-landscaping-and-gardening:before {
  content: "\f167";
}

/* line 466, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-lawn-mowing-services:before {
  content: "\f168";
}

/* line 467, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-licence:before {
  content: "\f1de";
}

/* line 468, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-like:before {
  content: "\f169";
}

/* line 469, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-like-2:before {
  content: "\f16a";
}

/* line 470, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-like-filled:before {
  content: "\f16b";
}

/* line 471, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-like-stroke:before {
  content: "\f16c";
}

/* line 472, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-linkedin-box:before {
  content: "\f16d";
}

/* line 473, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-local:before {
  content: "\f16e";
}

/* line 474, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-location:before {
  content: "\f16f";
}

/* line 475, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-lock:before {
  content: "\f170";
}

/* line 476, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-login:before {
  content: "\f171";
}

/* line 477, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-loss-covered:before {
  content: "\f172";
}

/* line 478, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-loudspeaker:before {
  content: "\f173";
}

/* line 479, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-menu:before {
  content: "\f174";
}

/* line 480, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-message:before {
  content: "\f175";
}

/* line 481, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-mick:before {
  content: "\f176";
}

/* line 482, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-mick2:before {
  content: "\f177";
}

/* line 483, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-minus:before {
  content: "\f178";
}

/* line 484, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-money-circle:before {
  content: "\f179";
}

/* line 485, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-money-comment:before {
  content: "\f17a";
}

/* line 486, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-mood-bad:before {
  content: "\f17b";
}

/* line 487, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-more:before {
  content: "\f17c";
}

/* line 488, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-more-outline:before {
  content: "\f17d";
}

/* line 489, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-more-vert:before {
  content: "\f17e";
}

/* line 490, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-never-pay:before {
  content: "\f17f";
}

/* line 491, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-no-expire:before {
  content: "\f180";
}

/* line 492, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-no-lockin:before {
  content: "\f181";
}

/* line 493, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-no-views:before {
  content: "\f182";
}

/* line 494, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-note:before {
  content: "\f183";
}

/* line 495, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-opening-hours_icon:before {
  content: "\f184";
}

/* line 496, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-painters:before {
  content: "\f185";
}

/* line 497, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-partial-pay:before {
  content: "\f186";
}

/* line 498, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-people:before {
  content: "\f187";
}

/* line 499, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-phone:before {
  content: "\f188";
}

/* line 500, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-phone_icon:before {
  content: "\f189";
}

/* line 501, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-pin:before {
  content: "\f1e3";
}

/* line 502, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-plasterers:before {
  content: "\f18a";
}

/* line 503, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-play:before {
  content: "\f18b";
}

/* line 504, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-plumbers:before {
  content: "\f18c";
}

/* line 505, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-plus:before {
  content: "\f18d";
}

/* line 506, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-price-tag:before {
  content: "\f18e";
}

/* line 507, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-pricing:before {
  content: "\f18f";
}

/* line 508, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-quote-speed:before {
  content: "\f190";
}

/* line 509, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-quotes:before {
  content: "\f191";
}

/* line 510, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-quotes-stroke:before {
  content: "\f192";
}

/* line 511, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-quotes2:before {
  content: "\f193";
}

/* line 512, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-quotes2-stroke:before {
  content: "\f194";
}

/* line 513, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-removalists:before {
  content: "\f195";
}

/* line 514, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-reply:before {
  content: "\f196";
}

/* line 515, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-reply-all:before {
  content: "\f197";
}

/* line 516, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-ribbon:before {
  content: "\f198";
}

/* line 517, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-ribbon-check:before {
  content: "\f199";
}

/* line 518, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-ringing:before {
  content: "\f19a";
}

/* line 519, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-risq-bell:before {
  content: "\f19b";
}

/* line 520, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-risq-man:before {
  content: "\f19c";
}

/* line 521, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-risq-monitor:before {
  content: "\f19d";
}

/* line 522, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-risq-shield:before {
  content: "\f19e";
}

/* line 523, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-risq-star:before {
  content: "\f19f";
}

/* line 524, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-roofers:before {
  content: "\f1a0";
}

/* line 525, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-safe:before {
  content: "\f1a1";
}

/* line 526, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-safe-circle:before {
  content: "\f1a2";
}

/* line 527, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-search:before {
  content: "\f1a3";
}

/* line 528, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-search-2:before {
  content: "\f1a4";
}

/* line 529, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-search-3:before {
  content: "\f1a5";
}

/* line 530, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-search-file:before {
  content: "\f1e0";
}

/* line 531, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-send:before {
  content: "\f1a6";
}

/* line 532, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-settings:before {
  content: "\f1a7";
}

/* line 533, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-shield-check:before {
  content: "\f1a8";
}

/* line 534, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-shield-check-2:before {
  content: "\f1a9";
}

/* line 535, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-shield-money:before {
  content: "\f1aa";
}

/* line 536, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-shield-money-circle:before {
  content: "\f1ab";
}

/* line 537, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-shield-round:before {
  content: "\f1e4";
}

/* line 538, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-sms:before {
  content: "\f1ac";
}

/* line 539, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-soc_fb_icon:before {
  content: "\f1ad";
}

/* line 540, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-soc_g--icon:before {
  content: "\f1ae";
}

/* line 541, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-soc_in_icon:before {
  content: "\f1af";
}

/* line 542, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-soc_tw_icon:before {
  content: "\f1b0";
}

/* line 543, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-soc_youtube_icon:before {
  content: "\f1b1";
}

/* line 544, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-sort:before {
  content: "\f1b2";
}

/* line 545, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-star:before {
  content: "\f1b3";
}

/* line 546, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-star-empty:before {
  content: "\f1b4";
}

/* line 547, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-star-full:before {
  content: "\f1b5";
}

/* line 548, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-star-half:before {
  content: "\f1b6";
}

/* line 549, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-star-half-full:before {
  content: "\f1b7";
}

/* line 550, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-stop:before {
  content: "\f1b8";
}

/* line 551, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-stop-1:before {
  content: "\f1b9";
}

/* line 552, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-support:before {
  content: "\f1ba";
}

/* line 553, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-tick:before, .glyphicon-ok:before {
  content: "\f1bb";
}

/* line 554, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-tick-1:before {
  content: "\f1bc";
}

/* line 555, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-tick-2:before {
  content: "\f1bd";
}

/* line 556, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-tick-o:before {
  content: "\f1be";
}

/* line 557, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-tick-x:before {
  content: "\f1bf";
}

/* line 558, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-tilers:before {
  content: "\f1c0";
}

/* line 559, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-time-chart:before {
  content: "\f1c1";
}

/* line 560, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-transfb:before {
  content: "\f1c2";
}

/* line 561, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-transgoogle:before {
  content: "\f1c3";
}

/* line 562, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-translinkedin:before {
  content: "\f1c4";
}

/* line 563, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-transtwitter:before {
  content: "\f1c5";
}

/* line 564, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-transyoutube:before {
  content: "\f1c6";
}

/* line 565, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-trash:before {
  content: "\f1c7";
}

/* line 566, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-trash-empty:before {
  content: "\f1c8";
}

/* line 567, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-trend-down:before {
  content: "\f1c9";
}

/* line 568, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-trend-up:before {
  content: "\f1ca";
}

/* line 569, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-trophy:before {
  content: "\f1cb";
}

/* line 570, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-twitter:before {
  content: "\f1cc";
}

/* line 571, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-twitter-box:before {
  content: "\f1cd";
}

/* line 572, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-umbrella:before {
  content: "\f1ce";
}

/* line 573, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-umbrella-stroke:before {
  content: "\f1cf";
}

/* line 574, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-unlike:before {
  content: "\f1d0";
}

/* line 575, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-unlock:before {
  content: "\f1d1";
}

/* line 576, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-unlock-circle:before {
  content: "\f1d2";
}

/* line 577, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-user:before {
  content: "\f1d3";
}

/* line 578, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-user-bubble:before {
  content: "\f1e1";
}

/* line 579, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-user-male:before {
  content: "\f1d4";
}

/* line 580, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-users:before {
  content: "\f1d5";
}

/* line 581, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-views_icon:before {
  content: "\f1d6";
}

/* line 582, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-wasting:before {
  content: "\f1d7";
}

/* line 583, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-website:before {
  content: "\f1d8";
}

/* line 584, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-website-2:before {
  content: "\f1d9";
}

/* line 585, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-wedding-photography:before {
  content: "\f1da";
}

/* line 586, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-winner-medal:before {
  content: "\f1db";
}

/* line 587, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-winner-trophy:before {
  content: "\f1dc";
}

/* line 588, /home/vcabana/www/serviceseeking/app/assets/stylesheets/_ss_font.scss */
.ficon-youtube-box:before {
  content: "\f1dd";
}
