@font-face {
  font-family: "ss_font";
  src: font-url("ss_font_9a360a0a9697a92779fa1d4a43e7c7dd.eot");
  src: font-url("ss_font_9a360a0a9697a92779fa1d4a43e7c7dd.eot?#iefix") format("embedded-opentype"), font-url("ss_font_9a360a0a9697a92779fa1d4a43e7c7dd.woff2") format("woff2"), font-url("ss_font_9a360a0a9697a92779fa1d4a43e7c7dd.woff") format("woff"), font-url("ss_font_9a360a0a9697a92779fa1d4a43e7c7dd.ttf") format("truetype"), font-url("ss_font_9a360a0a9697a92779fa1d4a43e7c7dd.svg#ss_font") format("svg");
  font-weight: normal;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "ss_font";
    src: font-url("ss_font_9a360a0a9697a92779fa1d4a43e7c7dd.svg#ss_font") format("svg"); } }
.btn [class^="ficon-"],
.btn [class*=" ficon-"], .nav [class^="ficon-"],
.nav [class*=" ficon-"] {
  display: inline; }

.nav-tabs [class^="ficon-"],
.nav-tabs [class*=" ficon-"], .nav-pills [class^="ficon-"],
.nav-pills [class*=" ficon-"] {
  /* keeps button heights with and without icons the same */ }
  .nav-tabs [class^="ficon-"], .nav-tabs [class^="ficon-"].icon-large,
  .nav-tabs [class*=" ficon-"],
  .nav-tabs [class*=" ficon-"].icon-large, .nav-pills [class^="ficon-"], .nav-pills [class^="ficon-"].icon-large,
  .nav-pills [class*=" ficon-"],
  .nav-pills [class*=" ficon-"].icon-large {
    line-height: .9em; }

li [class^="ficon-"],
li [class*=" ficon-"], .nav li [class^="ficon-"],
.nav li [class*=" ficon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center; }
  li [class^="ficon-"].icon-large,
  li [class*=" ficon-"].icon-large, .nav li [class^="ficon-"].icon-large,
  .nav li [class*=" ficon-"].icon-large {
    /* increased font size for icon-large */
    width: 1.5625em; }

.ipr8[data-icon]:before {
  padding-right: 8px; }

.ipr5[data-icon]:before {
  padding-right: 5px; }

.ipl5[data-icon]:before {
  padding-left: 5px; }

.icon-2x {
  font-size: 2em; }
  .icon-2x.icon-border {
    border-width: 2px; }

.icon-3x {
  font-size: 3em; }
  .icon-3x.icon-border {
    border-width: 3px; }

.icon-4x {
  font-size: 4em; }
  .icon-4x.icon-border {
    border-width: 4px; }

[data-icon]:before {
  content: attr(data-icon); }

[data-icon]:before,
.ficon-SSL:before,
.ficon-abn-licence2:before,
.ficon-accountants:before,
.ficon-air-conditioner-installation:before,
.ficon-alert-circle:before,
.ficon-alert-star:before,
.ficon-analytics:before,
.ficon-architects:before,
.ficon-arrow-down:before,
.ficon-arrow-down-shaft:before,
.ficon-arrow-left:before,
.icon-arrow-left:before,
.ficon-arrow-left-shaft:before,
.ficon-arrow-right:before,
.icon-arrow-right:before,
.ficon-arrow-right-shaft:before,
.ficon-arrow-up:before,
.ficon-arrow-up-shaft:before,
.ficon-asbestos-removal:before,
.ficon-asterisk:before,
.ficon-attach:before,
.ficon-attach2:before,
.ficon-attention:before,
.ficon-builders:before,
.ficon-burger:before,
.ficon-business:before,
.ficon-business-stroke:before,
.ficon-calendar:before,
.ficon-calendar-2:before,
.ficon-camera:before,
.ficon-carpenters:before,
.ficon-carpet-cleaning:before,
.ficon-case:before,
.ficon-case-check:before,
.ficon-case-check2:before,
.ficon-certification:before,
.ficon-certification-1:before,
.ficon-certification-1-stroke:before,
.ficon-certification-2:before,
.ficon-certification-2-stroke:before,
.ficon-certification-3:before,
.ficon-certification-3-stroke:before,
.ficon-certification-user-1:before,
.ficon-certification-user-1-stroke:before,
.ficon-certification-user-2:before,
.ficon-certification-user-2-stroke:before,
.ficon-check-circle:before,
.ficon-circle-o:before,
.ficon-circle-x:before,
.ficon-cleaners:before,
.ficon-clock:before,
.ficon-close-check:before,
.ficon-close-circle:before,
.ficon-comment:before,
.ficon-computer:before,
.ficon-concreters:before,
.ficon-copy-link:before,
.ficon-coverage:before,
.ficon-coverage1:before,
.ficon-credit:before,
.ficon-credit-card:before,
.ficon-delete:before,
.glyphicon-remove:before,
.ficon-delete2:before,
.ficon-directory:before,
.ficon-dislike-2:before,
.ficon-dollar:before,
.ficon-download:before,
.ficon-edit:before,
.ficon-edit-2:before,
.ficon-electricians:before,
.ficon-email_icon:before,
.ficon-end-of-lease-cleaners:before,
.ficon-facebook:before,
.ficon-fb-box:before,
.ficon-feedback:before,
.ficon-fencing:before,
.ficon-file:before,
.ficon-files:before,
.ficon-filter:before,
.ficon-flag:before,
.ficon-gardeners:before,
.ficon-get-quotes:before,
.ficon-gplus-box:before,
.ficon-hand-shake:before,
.ficon-handymen:before,
.ficon-hard-hat:before,
.ficon-help-circle:before,
.ficon-home:before,
.ficon-home-improvement:before,
.ficon-how-it-works-step1-1:before,
.ficon-how-it-works-step1-2:before,
.ficon-how-it-works-step1-3:before,
.ficon-how-it-works-step2-1:before,
.ficon-how-it-works-step2-2:before,
.ficon-how-it-works-step3:before,
.ficon-how-it-works-step4-1:before,
.ficon-how-it-works-step4-2:before,
.ficon-inbox:before,
.ficon-industry:before,
.ficon-industry2:before,
.ficon-industry3:before,
.ficon-invoices:before,
.ficon-iphone:before,
.ficon-jobs-listed:before,
.ficon-jobs-listed-stroke:before,
.ficon-label-new:before,
.ficon-landscaping-and-gardening:before,
.ficon-lawn-mowing-services:before,
.ficon-licence:before,
.ficon-like:before,
.ficon-like-2:before,
.ficon-like-filled:before,
.ficon-like-stroke:before,
.ficon-linkedin-box:before,
.ficon-local:before,
.ficon-location:before,
.ficon-lock:before,
.ficon-login:before,
.ficon-loss-covered:before,
.ficon-loudspeaker:before,
.ficon-menu:before,
.ficon-message:before,
.ficon-mick:before,
.ficon-mick2:before,
.ficon-minus:before,
.ficon-money-circle:before,
.ficon-money-comment:before,
.ficon-mood-bad:before,
.ficon-more:before,
.ficon-more-outline:before,
.ficon-more-vert:before,
.ficon-never-pay:before,
.ficon-no-expire:before,
.ficon-no-lockin:before,
.ficon-no-views:before,
.ficon-note:before,
.ficon-opening-hours_icon:before,
.ficon-painters:before,
.ficon-partial-pay:before,
.ficon-people:before,
.ficon-phone:before,
.ficon-phone_icon:before,
.ficon-plasterers:before,
.ficon-play:before,
.ficon-plumbers:before,
.ficon-plus:before,
.ficon-price-tag:before,
.ficon-pricing:before,
.ficon-quote-speed:before,
.ficon-quotes:before,
.ficon-quotes-stroke:before,
.ficon-quotes2:before,
.ficon-quotes2-stroke:before,
.ficon-removalists:before,
.ficon-reply:before,
.ficon-reply-all:before,
.ficon-ribbon:before,
.ficon-ribbon-check:before,
.ficon-ringing:before,
.ficon-risq-bell:before,
.ficon-risq-man:before,
.ficon-risq-monitor:before,
.ficon-risq-shield:before,
.ficon-risq-star:before,
.ficon-roofers:before,
.ficon-safe:before,
.ficon-safe-circle:before,
.ficon-search:before,
.ficon-search-2:before,
.ficon-search-3:before,
.ficon-search-file:before,
.ficon-send:before,
.ficon-settings:before,
.ficon-shield-check:before,
.ficon-shield-check-2:before,
.ficon-shield-money:before,
.ficon-shield-money-circle:before,
.ficon-sms:before,
.ficon-soc_fb_icon:before,
.ficon-soc_g--icon:before,
.ficon-soc_in_icon:before,
.ficon-soc_tw_icon:before,
.ficon-soc_youtube_icon:before,
.ficon-sort:before,
.ficon-star:before,
.ficon-star-empty:before,
.ficon-star-full:before,
.ficon-star-half:before,
.ficon-star-half-full:before,
.ficon-stop:before,
.ficon-stop-1:before,
.ficon-support:before,
.ficon-tick:before,
.glyphicon-ok:before,
.ficon-tick-1:before,
.ficon-tick-2:before,
.ficon-tick-o:before,
.ficon-tick-x:before,
.ficon-tilers:before,
.ficon-time-chart:before,
.ficon-transfb:before,
.ficon-transgoogle:before,
.ficon-translinkedin:before,
.ficon-transtwitter:before,
.ficon-transyoutube:before,
.ficon-trash:before,
.ficon-trash-empty:before,
.ficon-trend-down:before,
.ficon-trend-up:before,
.ficon-trophy:before,
.ficon-twitter:before,
.ficon-twitter-box:before,
.ficon-umbrella:before,
.ficon-umbrella-stroke:before,
.ficon-unlike:before,
.ficon-unlock:before,
.ficon-unlock-circle:before,
.ficon-user:before,
.ficon-user-bubble:before,
.ficon-user-male:before,
.ficon-users:before,
.ficon-views_icon:before,
.ficon-wasting:before,
.ficon-website:before,
.ficon-website-2:before,
.ficon-wedding-photography:before,
.ficon-winner-medal:before,
.ficon-winner-trophy:before,
.ficon-youtube-box:before {
  display: inline-block;
  font-family: "ss_font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.ficon-SSL:before {
  content: "\f100"; }

.ficon-abn-licence2:before {
  content: "\f101"; }

.ficon-accountants:before {
  content: "\f102"; }

.ficon-air-conditioner-installation:before {
  content: "\f103"; }

.ficon-alert-circle:before {
  content: "\f104"; }

.ficon-alert-star:before {
  content: "\f105"; }

.ficon-analytics:before {
  content: "\f106"; }

.ficon-architects:before {
  content: "\f107"; }

.ficon-arrow-down:before {
  content: "\f108"; }

.ficon-arrow-down-shaft:before {
  content: "\f109"; }

.ficon-arrow-left:before, .icon-arrow-left:before {
  content: "\f10a"; }

.ficon-arrow-left-shaft:before {
  content: "\f10b"; }

.ficon-arrow-right:before, .icon-arrow-right:before {
  content: "\f10c"; }

.ficon-arrow-right-shaft:before {
  content: "\f10d"; }

.ficon-arrow-up:before {
  content: "\f10e"; }

.ficon-arrow-up-shaft:before {
  content: "\f10f"; }

.ficon-asbestos-removal:before {
  content: "\f110"; }

.ficon-asterisk:before {
  content: "\f111"; }

.ficon-attach:before {
  content: "\f112"; }

.ficon-attach2:before {
  content: "\f113"; }

.ficon-attention:before {
  content: "\f114"; }

.ficon-builders:before {
  content: "\f115"; }

.ficon-burger:before {
  content: "\f116"; }

.ficon-business:before {
  content: "\f117"; }

.ficon-business-stroke:before {
  content: "\f118"; }

.ficon-calendar:before {
  content: "\f119"; }

.ficon-calendar-2:before {
  content: "\f11a"; }

.ficon-camera:before {
  content: "\f11b"; }

.ficon-carpenters:before {
  content: "\f11c"; }

.ficon-carpet-cleaning:before {
  content: "\f11d"; }

.ficon-case:before {
  content: "\f11e"; }

.ficon-case-check:before {
  content: "\f11f"; }

.ficon-case-check2:before {
  content: "\f120"; }

.ficon-certification:before {
  content: "\f121"; }

.ficon-certification-1:before {
  content: "\f122"; }

.ficon-certification-1-stroke:before {
  content: "\f123"; }

.ficon-certification-2:before {
  content: "\f124"; }

.ficon-certification-2-stroke:before {
  content: "\f125"; }

.ficon-certification-3:before {
  content: "\f126"; }

.ficon-certification-3-stroke:before {
  content: "\f127"; }

.ficon-certification-user-1:before {
  content: "\f128"; }

.ficon-certification-user-1-stroke:before {
  content: "\f129"; }

.ficon-certification-user-2:before {
  content: "\f12a"; }

.ficon-certification-user-2-stroke:before {
  content: "\f12b"; }

.ficon-check-circle:before {
  content: "\f12c"; }

.ficon-circle-o:before {
  content: "\f12d"; }

.ficon-circle-x:before {
  content: "\f12e"; }

.ficon-cleaners:before {
  content: "\f12f"; }

.ficon-clock:before {
  content: "\f130"; }

.ficon-close-check:before {
  content: "\f131"; }

.ficon-close-circle:before {
  content: "\f132"; }

.ficon-comment:before {
  content: "\f133"; }

.ficon-computer:before {
  content: "\f134"; }

.ficon-concreters:before {
  content: "\f135"; }

.ficon-copy-link:before {
  content: "\f136"; }

.ficon-coverage:before {
  content: "\f137"; }

.ficon-coverage1:before {
  content: "\f138"; }

.ficon-credit:before {
  content: "\f139"; }

.ficon-credit-card:before {
  content: "\f13a"; }

.ficon-delete:before, .glyphicon-remove:before {
  content: "\f13b"; }

.ficon-delete2:before {
  content: "\f13c"; }

.ficon-directory:before {
  content: "\f13d"; }

.ficon-dislike-2:before {
  content: "\f13e"; }

.ficon-dollar:before {
  content: "\f13f"; }

.ficon-download:before {
  content: "\f140"; }

.ficon-edit:before {
  content: "\f141"; }

.ficon-edit-2:before {
  content: "\f142"; }

.ficon-electricians:before {
  content: "\f143"; }

.ficon-email_icon:before {
  content: "\f144"; }

.ficon-end-of-lease-cleaners:before {
  content: "\f145"; }

.ficon-facebook:before {
  content: "\f146"; }

.ficon-fb-box:before {
  content: "\f147"; }

.ficon-feedback:before {
  content: "\f148"; }

.ficon-fencing:before {
  content: "\f149"; }

.ficon-file:before {
  content: "\f14a"; }

.ficon-files:before {
  content: "\f14b"; }

.ficon-filter:before {
  content: "\f14c"; }

.ficon-flag:before {
  content: "\f14d"; }

.ficon-gardeners:before {
  content: "\f14e"; }

.ficon-get-quotes:before {
  content: "\f14f"; }

.ficon-gplus-box:before {
  content: "\f150"; }

.ficon-hand-shake:before {
  content: "\f151"; }

.ficon-handymen:before {
  content: "\f152"; }

.ficon-hard-hat:before {
  content: "\f1df"; }

.ficon-help-circle:before {
  content: "\f153"; }

.ficon-home:before {
  content: "\f154"; }

.ficon-home-improvement:before {
  content: "\f155"; }

.ficon-how-it-works-step1-1:before {
  content: "\f156"; }

.ficon-how-it-works-step1-2:before {
  content: "\f157"; }

.ficon-how-it-works-step1-3:before {
  content: "\f158"; }

.ficon-how-it-works-step2-1:before {
  content: "\f159"; }

.ficon-how-it-works-step2-2:before {
  content: "\f15a"; }

.ficon-how-it-works-step3:before {
  content: "\f15b"; }

.ficon-how-it-works-step4-1:before {
  content: "\f15c"; }

.ficon-how-it-works-step4-2:before {
  content: "\f15d"; }

.ficon-inbox:before {
  content: "\f15e"; }

.ficon-industry:before {
  content: "\f15f"; }

.ficon-industry2:before {
  content: "\f160"; }

.ficon-industry3:before {
  content: "\f161"; }

.ficon-invoices:before {
  content: "\f162"; }

.ficon-iphone:before {
  content: "\f163"; }

.ficon-jobs-listed:before {
  content: "\f164"; }

.ficon-jobs-listed-stroke:before {
  content: "\f165"; }

.ficon-label-new:before {
  content: "\f166"; }

.ficon-landscaping-and-gardening:before {
  content: "\f167"; }

.ficon-lawn-mowing-services:before {
  content: "\f168"; }

.ficon-licence:before {
  content: "\f1de"; }

.ficon-like:before {
  content: "\f169"; }

.ficon-like-2:before {
  content: "\f16a"; }

.ficon-like-filled:before {
  content: "\f16b"; }

.ficon-like-stroke:before {
  content: "\f16c"; }

.ficon-linkedin-box:before {
  content: "\f16d"; }

.ficon-local:before {
  content: "\f16e"; }

.ficon-location:before {
  content: "\f16f"; }

.ficon-lock:before {
  content: "\f170"; }

.ficon-login:before {
  content: "\f171"; }

.ficon-loss-covered:before {
  content: "\f172"; }

.ficon-loudspeaker:before {
  content: "\f173"; }

.ficon-menu:before {
  content: "\f174"; }

.ficon-message:before {
  content: "\f175"; }

.ficon-mick:before {
  content: "\f176"; }

.ficon-mick2:before {
  content: "\f177"; }

.ficon-minus:before {
  content: "\f178"; }

.ficon-money-circle:before {
  content: "\f179"; }

.ficon-money-comment:before {
  content: "\f17a"; }

.ficon-mood-bad:before {
  content: "\f17b"; }

.ficon-more:before {
  content: "\f17c"; }

.ficon-more-outline:before {
  content: "\f17d"; }

.ficon-more-vert:before {
  content: "\f17e"; }

.ficon-never-pay:before {
  content: "\f17f"; }

.ficon-no-expire:before {
  content: "\f180"; }

.ficon-no-lockin:before {
  content: "\f181"; }

.ficon-no-views:before {
  content: "\f182"; }

.ficon-note:before {
  content: "\f183"; }

.ficon-opening-hours_icon:before {
  content: "\f184"; }

.ficon-painters:before {
  content: "\f185"; }

.ficon-partial-pay:before {
  content: "\f186"; }

.ficon-people:before {
  content: "\f187"; }

.ficon-phone:before {
  content: "\f188"; }

.ficon-phone_icon:before {
  content: "\f189"; }

.ficon-plasterers:before {
  content: "\f18a"; }

.ficon-play:before {
  content: "\f18b"; }

.ficon-plumbers:before {
  content: "\f18c"; }

.ficon-plus:before {
  content: "\f18d"; }

.ficon-price-tag:before {
  content: "\f18e"; }

.ficon-pricing:before {
  content: "\f18f"; }

.ficon-quote-speed:before {
  content: "\f190"; }

.ficon-quotes:before {
  content: "\f191"; }

.ficon-quotes-stroke:before {
  content: "\f192"; }

.ficon-quotes2:before {
  content: "\f193"; }

.ficon-quotes2-stroke:before {
  content: "\f194"; }

.ficon-removalists:before {
  content: "\f195"; }

.ficon-reply:before {
  content: "\f196"; }

.ficon-reply-all:before {
  content: "\f197"; }

.ficon-ribbon:before {
  content: "\f198"; }

.ficon-ribbon-check:before {
  content: "\f199"; }

.ficon-ringing:before {
  content: "\f19a"; }

.ficon-risq-bell:before {
  content: "\f19b"; }

.ficon-risq-man:before {
  content: "\f19c"; }

.ficon-risq-monitor:before {
  content: "\f19d"; }

.ficon-risq-shield:before {
  content: "\f19e"; }

.ficon-risq-star:before {
  content: "\f19f"; }

.ficon-roofers:before {
  content: "\f1a0"; }

.ficon-safe:before {
  content: "\f1a1"; }

.ficon-safe-circle:before {
  content: "\f1a2"; }

.ficon-search:before {
  content: "\f1a3"; }

.ficon-search-2:before {
  content: "\f1a4"; }

.ficon-search-3:before {
  content: "\f1a5"; }

.ficon-search-file:before {
  content: "\f1e0"; }

.ficon-send:before {
  content: "\f1a6"; }

.ficon-settings:before {
  content: "\f1a7"; }

.ficon-shield-check:before {
  content: "\f1a8"; }

.ficon-shield-check-2:before {
  content: "\f1a9"; }

.ficon-shield-money:before {
  content: "\f1aa"; }

.ficon-shield-money-circle:before {
  content: "\f1ab"; }

.ficon-sms:before {
  content: "\f1ac"; }

.ficon-soc_fb_icon:before {
  content: "\f1ad"; }

.ficon-soc_g--icon:before {
  content: "\f1ae"; }

.ficon-soc_in_icon:before {
  content: "\f1af"; }

.ficon-soc_tw_icon:before {
  content: "\f1b0"; }

.ficon-soc_youtube_icon:before {
  content: "\f1b1"; }

.ficon-sort:before {
  content: "\f1b2"; }

.ficon-star:before {
  content: "\f1b3"; }

.ficon-star-empty:before {
  content: "\f1b4"; }

.ficon-star-full:before {
  content: "\f1b5"; }

.ficon-star-half:before {
  content: "\f1b6"; }

.ficon-star-half-full:before {
  content: "\f1b7"; }

.ficon-stop:before {
  content: "\f1b8"; }

.ficon-stop-1:before {
  content: "\f1b9"; }

.ficon-support:before {
  content: "\f1ba"; }

.ficon-tick:before, .glyphicon-ok:before {
  content: "\f1bb"; }

.ficon-tick-1:before {
  content: "\f1bc"; }

.ficon-tick-2:before {
  content: "\f1bd"; }

.ficon-tick-o:before {
  content: "\f1be"; }

.ficon-tick-x:before {
  content: "\f1bf"; }

.ficon-tilers:before {
  content: "\f1c0"; }

.ficon-time-chart:before {
  content: "\f1c1"; }

.ficon-transfb:before {
  content: "\f1c2"; }

.ficon-transgoogle:before {
  content: "\f1c3"; }

.ficon-translinkedin:before {
  content: "\f1c4"; }

.ficon-transtwitter:before {
  content: "\f1c5"; }

.ficon-transyoutube:before {
  content: "\f1c6"; }

.ficon-trash:before {
  content: "\f1c7"; }

.ficon-trash-empty:before {
  content: "\f1c8"; }

.ficon-trend-down:before {
  content: "\f1c9"; }

.ficon-trend-up:before {
  content: "\f1ca"; }

.ficon-trophy:before {
  content: "\f1cb"; }

.ficon-twitter:before {
  content: "\f1cc"; }

.ficon-twitter-box:before {
  content: "\f1cd"; }

.ficon-umbrella:before {
  content: "\f1ce"; }

.ficon-umbrella-stroke:before {
  content: "\f1cf"; }

.ficon-unlike:before {
  content: "\f1d0"; }

.ficon-unlock:before {
  content: "\f1d1"; }

.ficon-unlock-circle:before {
  content: "\f1d2"; }

.ficon-user:before {
  content: "\f1d3"; }

.ficon-user-bubble:before {
  content: "\f1e1"; }

.ficon-user-male:before {
  content: "\f1d4"; }

.ficon-users:before {
  content: "\f1d5"; }

.ficon-views_icon:before {
  content: "\f1d6"; }

.ficon-wasting:before {
  content: "\f1d7"; }

.ficon-website:before {
  content: "\f1d8"; }

.ficon-website-2:before {
  content: "\f1d9"; }

.ficon-wedding-photography:before {
  content: "\f1da"; }

.ficon-winner-medal:before {
  content: "\f1db"; }

.ficon-winner-trophy:before {
  content: "\f1dc"; }

.ficon-youtube-box:before {
  content: "\f1dd"; }

/*# sourceMappingURL=ss_fonts.css.map */
