.job-modal-bg {
  background-image: url('../images/photo.jpg');
  background-size: cover;
  height: 400px;
  background-color: white;
}
.job-modal-content {
  margin-top: -170px;
}
.icon-3k {
  margin-top: -60px;
}
.display-picture {
  height: 90px;
  margin-top: -50px;
  border-radius: 50%;
}
