.job-modal-bg {
  background-image: url('../images/swing.jpg');
  background-size: cover;
  height: 400px;
  background-color: white;
  background-position: 30% 50%
}
.job-modal-content {
  margin-top: -160px;
}
.icon-3k {
  margin-top: -50px;
  height: 72px;
}
.display-picture {
  height: 56px;
  margin-top: -40px;
  border-radius: 50%;
}

.workmanship-modal {
  width: 480px;
  background-color: white;
}
