.chat-tabs {
  height: 456px;
  overflow-y: scroll;
}
.chat-tabs .card-flat {
  border-bottom: none;
}
.chat-content-card {
  overflow-y: scroll;
  height: 338px;
}
.chat-content-card img {
  height:48px;
  width: 48px;
  border-radius: 50%;
}
.chat-profile-card img{
  height: 120px;
  width: 120px;
}
.chat-profile-card button{
  margin-top: 103px;
}
.chat-profile-card .card-dp img {
  border-radius: 50%;
  margin-top: -70px;
  height: 80px;
  width: 80px;
}

/**** chat bubble*****/
.round{
  border-radius: 10px;
}

.tri-right.right-in:after{
  content: ' ';
  position: absolute;
  left: auto;
  right: -13px;
  top: 13px;
  bottom: auto;
  border: 12px solid;
  border-color: transparent transparent #D5EBFC #D5EBFC;
}
.chat-bubble {
  margin: 16px;
  display: inline-block;
  position: relative;
  background-color: #D5EBFC;
}

.mobile-tab-panes .tab-pane .card {
  z-index: 2;
}
